body {
    padding-top: 3rem;
}

.muted {
    color: #AAAAAA;
}

.navbar-right {
    float: right;
}

#stacken {
    background: url('../img/Stacken2-80x40-trans.png');
    width: 80px;
    height: 40px;
}
