<!DOCTYPE html>
<html lang="sv">
    <head>
        <title> {{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        
        <meta name="description" content="{{ .Site.Params.description }}">
        <meta name="author" content="{{ .Site.Params.author }}">

        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
        crossorigin="anonymous">
        <link rel="stylesheet" href="css/open-iconic-bootstrap.css">
        <link rel="stylesheet" href="css/stacken-templ.css">
    </head>
    <body>