{{ partial "header.html" }}
{{ partial "navigation.html" }}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-1">Stacken</h1>
            <p> Stacken är en datorförening för studenter och anställda
            vid KTH. Föreningens syfte är att främja intreset för och vidga
            kunskaper inom datorområdet.</p>
            <p> <a class="btn btn-primary btn-lg" href="#" role="button"> Bli medlem &raquo;</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">
                    Kommande föreläsningar &raquo; </a> </p>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2> Rubrik 1</h2>
                <time datetime="14 February 2016" class="muted">
                    <span class="oi oi-calendar"></span>
                    14 February 2016</time>
                <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi molestie erat nec ligula hendrerit placerat. Nulla et
                mauris tincidunt, luctus erat sed, condimentum dui. Sed sit
                amet mattis neque. Donec lorem nisi, fermentum sed diam
                eget, egestas dignissim nibh. Aliquam vestibulum nec felis
                id scelerisque.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View
                    details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2> Rubrik 2</h2>
                <time datetime="11 February 2016" class="muted">
                    <span class="oi oi-calendar"></span>
                    11 February 2016</time>
                <p> 
                    Maecenas faucibus mi a risus dignissim, vel congue sem
                    sagittis. Sed finibus vel nisi feugiat elementum. Fusce
                    fermentum ut turpis eget euismod. Donec nibh sem,
                    commodo at maximus id, maximus eget ante. Aenean sed
                    tincidunt eros, non congue felis. Nam placerat augue a
                    mi consectetur sollicitudin. Mauris ex quam, ultrices
                    non est eu, euismod sodales lorem.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View
                    details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2> Rubrik 3</h2>
                <time datetime="2 February 2016" class="muted">
                    <span class="oi oi-calendar"></span>
                    2 February 2016</time>
                <p> 
                Donec sed venenatis odio. Etiam eu est gravida, elementum
                turpis fringilla, sagittis risus. Ut facilisis nisi leo, id
                convallis leo viverra nec. Phasellus auctor tempus tempor.
                Pellentesque euismod metus vel euismod ornare.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View
                    details &raquo;</a></p>
            </div>
        </div>
        <hr>

    </div>
{{ partial "footer.html" }}